{% extends 'main/base.html' %}
{% block title %}Каталог{% endblock %}
{% block content %}

	
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url('media/product/categories.jpg')"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">Смартфоны<span>.</span></div>
								<div class="home_text"><p>В нашем магазине есть смартфоны на любой вкус и кошелек.</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<!-- сортировка -->
					<div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
						<div class="results">Показано <span>12</span> результатов</div>
						<div class="sorting_container ml-md-auto">
							<div class="sorting">
								<ul class="item_sorting">
									<li>
										<span class="sorting_text">Отсортировать</span>
										<i class="fa fa-chevron-down" aria-hidden="true"></i>
										<ul>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>любое</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>любое</span></li>
											<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>любое</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="product_grid">
					{% for p in product %}
					<!-- Product -->
					<div class="product">
						<div class="product_image"><img src="{{ p.IMG_PRODUCT }}" alt=""></div>
						<div class="product_content">
							<div class="product_title"><a href="/catalog">{{ p.NAME_PRODUCT }}</a></div>
							<div class="product_price">{{ p.PRICE_PRODUCT }}</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>



	<!-- Icon Boxes -->

	<div class="icon_boxes">
		<div class="container">
			<div class="row icon_box_row">
				
				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src='media/product/icon_1.svg' alt=""></div>
						<div class="icon_box_title">Бесплатная доставка по России.</div>
						<div class="icon_box_text">
							<p>Вы можете заказать товар с доставкой по всей России.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src='media/product/icon_2.svg' alt=""></div>
						<div class="icon_box_title">Бесплатный возврат.</div>
						<div class="icon_box_text">
							<p>Наш магазин предоставляет бесплатный возврат товара в течении 14 дней.</p>
						</div>
					</div>
				</div>

				<!-- Icon Box -->
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src='media/product/icon_3.svg' alt=""></div>
						<div class="icon_box_title">Быстрая поддержка.</div>
						<div class="icon_box_text">
							<p>Наш магазин имеет быструю поддержку, которая поможет вам в трудной ситуации.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	{% endblock %}